[Desktop Entry]
Encoding=UTF-8
Name=Link to dark.scss
Type=Link
URL=https://github.com/sweetalert2/sweetalert2-themes/blob/master/dark/dark.scss
Icon=text-html
