body {
  font-family: Helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--body-background-color);  
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  transition: all 0.1s ease, background-position 1ms;
  transition: width 0.1s ease-in-out, height 0.5s ease-in-out;
}

.body-content {
  display: block;
}

.page {
  display: grid; 
  grid-template-columns: auto;
  min-height: calc(100vh - 34px);
  background-size: cover;
  grid-gap: 5px;
}

.group {
  color: var(--group-fg-color);
  background-color: var(--group-bg-color); 
  min-width: 95px;  
  height: min-content;
  box-shadow: var(--group-box-shadow);
  outline: #cecece solid 1px;   
  position: relative;  
  padding: 0;
  margin: 5px 5px 10px 5px;  
}

.handle:hover {
  cursor: move;
}

.group-header {
  display: grid;
  grid-template-columns: 30px auto 20px 20px 20px;
  place-items: center;
  grid-gap: 5px 0px;
  height: 30px;
  overflow: hidden;
}

.group-icon {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;    
  width: 30px;
  height: 30px;
}

.group-label {
  display: grid;
  place-items: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  user-select: none;
}

.group-open-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--group-dots-buttons-color);
  width: 20px;
  height: 30px;
}
.group-open-button:hover {
  color: var(--group-dots-buttons-color-hover);
}

.group-add-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--group-dots-buttons-color);
  width: 20px;
  height: 30px;
}

.group-add-button:hover {
  color: var(--group-dots-buttons-color-hover);
}

.group-dots-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--group-dots-buttons-color);
  width: 20px;
  height: 30px;
}

.group-dots-button:hover {
  color: var(--group-dots-buttons-color-hover);
}



.group-description {
  border-bottom: 1px solid;
  border-bottom-color: var(--group-description-border-bottom);
  padding: 5px 10px 2px 10px;
  text-align: justify;
}

.group-content {
  min-height: 110px;  
  display: grid;
  grid-template-columns: repeat(auto-fit, 94px);
  grid-gap: 5px 0px;
  justify-content: space-around;
  place-content: space-around;
  padding: 5px;
}


.bookmark {
  display: grid;
  place-items: center;  
  align-content: baseline;
  width: 100%;
  height: 100%;  
  transition: background-color 200ms linear, color 200ms linear, border 200ms linear;
}

.bookmark:hover {
  background-color: var(--item-hover)
}


.bookmark-content {
  display: grid;
  place-items: center;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  overflow: hidden;
}

.bookmark-link {
  text-decoration: none;
  text-align: center;
  display: grid;
  place-items: center;
  overflow: hidden;
  text-overflow: ellipsis;  
}

.bookmark-icon {  
  width: 64px;
  height: 64px;
}

.bookmark-icon:hover {  
  filter: brightness(110%);
}

.bookmark-label {
  color: var(--group-fg-color);
  font-size: 14px;
  text-align: center;   
  padding-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
}


.group-content-list {
  display: block;
} 
  
.bookmark-content-list {
  width: 100%;
}

.bookmark-list {
  display: block;
  overflow: hidden;
}
  
.bookmark-link-list {
  width: 100%;
  display: flex;
  place-items: center;
}
  
.bookmark-icon-list {
  width: 32px;
  height: 32px;
}

.bookmark-label-list {
  display: grid;
  place-items: center;
  padding-left: 10px;
  text-align: left;
}


/* drag classes */
.nav-drag {
  outline: 2px dashed #940b76;
  outline-offset: -1px;
  background-color:#940b765e;
}


.bookmark-drag {
  outline:2px dashed #19e28e;
  outline-offset: -1px;
  background-color:#19e28e46;
}

.bookmark-drag-error {
  outline: 2px dashed #ffbb00;
  outline-offset: -1px;
  background-color:#ffe60057;
}


.group-drag {
  outline: 2px dashed #e74c3c;
  outline-offset: -1px;
  background-color:#e74d3c46;
}



/*topnav style*/
.top-nav {
  color: var(--topnav-fg-color);
  background-color: var(--topnav-bg-color);
  overflow: hidden;
  display: flex;
  place-items: center;
  justify-content: space-between;
  margin-left: 0px;  
  height: 34px;
}

.top-nav-list {
  display: flex;
  width: calc(100% - 150px);
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;  
  height: 34px;  
}


.top-nav-scroll-button {
  display: none;
  white-space: nowrap;
  height: max-content;
  cursor: pointer;  
  color: red;
  text-align: center;  
  margin-left: 5px;
  margin-right: 5px;
  transition: transform .1s ease-in-out;
}

.top-nav-scroll-button:hover {
  transform: scale(1.1);
}


.top-nav-page {
  display: flex;
  place-items: center;
  cursor: pointer;
  padding: 0px 5px 0px 28px;  
  font-size: 18px;
  transition: background-color 200ms linear, color 200ms linear, border 200ms linear;
  background-image: var(--topnav-icon);
  background-repeat: no-repeat;
  background-position: center left 3px;
  background-size: 20px 20px;
  user-select: none;    
  border-radius: 8px;
  margin: 2px 0px 2px 5px;
  font-weight: bold;
}


@-moz-document url-prefix() {
  .top-nav-page {
    display: flex;
    place-items: center;
    cursor: pointer;
    padding: 5px 5px 0px 28px;    
    font-size: 18px;
    transition: background-color 200ms linear, color 200ms linear, border 200ms linear;
    background-image: var(--topnav-icon);
    background-repeat: no-repeat;
    background-position: center left 3px;
    background-size: 20px 20px;
    user-select: none;    
    border-radius: 8px;
    margin: 2px 0px 2px 5px;
    font-weight: bold;
  }
}

.top-nav-page:hover {
  color: var(--topnav-fg-color-hover);
  background-color: var(--topnav-bg-color-hover);
}

.top-nav-page-active {
  background-color: var(--topnav-active-link-bg-color);
  color: var(--topnav-active-link-fg-color);
}

.top-nav-icons {
  display: grid; 
  grid-template-columns: 30px 30px 30px 30px;
  height: 30px;
  place-items: center;
  margin-right: 5px;
}

.plus-icon {
  display: inline-block;
  text-align: center;    
  transition: transform .1s ease-in-out;
}

.plus-icon:hover {
  color: var(--topnav-fg-color-hover);
  transform: scale(1.1);
}

.search-icon {
  display: inline-block;
  text-align: center;  
  transition: transform .1s ease-in-out;
}

.search-icon:hover {
  color: var(--topnav-fg-color-hover);
  transform: scale(1.1);
}

.switch-icon {
  display: inline-block;
  width: 27px;
  height: 27px;
  transition: transform .1s ease-in-out;  
}

.switch-icon:hover {
  transform: scale(1.1);
}


.pcr-button-active {
  width: 80px;
  height: 80px;
  box-shadow: 0px 6px 30px -10px #4a74c9;
}

.pcr-app .pcr-interaction {
  justify-content: space-around;
}

.pickr .pcr-button {
  background: url(../img/themewide.svg) no-repeat 30%;
}


  
.image-selector-page-background {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #9EB3EB;
  height: 0px;
  width: calc(100% - 254px);
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); */
  /* grid-template-rows: 130px; */
  position: fixed;
  bottom: 0;
  left: 230;  
  z-index: -100;
  transition: height 0.8s ease;
  border: 2px dashed #F7EEEE;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 0px;
}

.image-selector-page-background label {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 115px 10px;
  text-align-last: center;
  font-size: 16px;
  font-weight: 400;
}

.image-selector-page-background input[type="radio"] {
  display: none;
}

.image-selector-page-background img {
  padding: 5px 5px 25px 5px;
  width: 192px;
  height: 108px;
}
.image-selector-page-background img:hover {
  background-color: #147DFF;
  outline: 2px dashed #F7EEEE;
}
.image-selector-page-background input[type="radio"]:checked + img {
  background-color: #147DFF;
  outline: 2px dashed #F7EEEE;
}


.search {
  display: none;
  place-items: center;
  position: absolute;
  top: 30px;
  width: 100%;
  height: calc(100% - 30px);
  background-color: rgba(25,25,26,.75);
  z-index: 999;  
}

.search-title {
  font-size: 20px;
  font-weight: 800;
}


.search-input {
  width: calc(100% - 20px);
  height: 30px;
  padding: 5px;
  border: 1px solid var(--group-fg-color);
  border-radius: 5px;
  color: var(--group-fg-color);
  background-color: var(--group-bg-color); 
  text-align: center;
  z-index: 1000;  
}

.search-wrapper {
  display: grid;
  grid-template-rows: 40px auto;
  place-items: center;
  align-content: baseline;
  justify-self: stretch;
  align-self: baseline;
  margin: 20px;
  padding: 10px;
  color: var(--group-fg-color);
  background-color: var(--group-bg-color); 
  z-index: 1000; 
}

.search-results {   
  color: var(--group-fg-color);
  background-color: var(--group-bg-color);
  width: 100%;
  min-height: 0px; 
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 84px);
  justify-content: space-around;
  z-index: 1000;  
}


.context-menu-icon {
  margin-right: 10px;
}

div.list-group {
	display: none;
	white-space: nowrap;
	z-index:1000;
  position: absolute;		  
  box-shadow: var(--menu-box-shadow);
}


.list-group-bookmark {
  padding-left: 5px;
  background-color: #09A276;  
}

.list-group-group {
  padding-left: 5px;
  background-color: #E57D04;
}

.list-group-page {
  padding-left: 5px;
  background-color: #3465AA;
}



.list-group-header {
  display: grid;
  place-items: center;
  min-height: 15px;
  font-weight: 600;
  font-size: 16px;  
  user-select: none;
  color: var(--menu-header-fg-color);  
  background-color: var(--menu-header-bg-color);
  
  border-bottom: 1px solid var(--group-description-border-bottom);  
  padding: 2px;
}

div.list-group a {    
    border: none;
}

div.list-group a:hover {
    background-color: var(--menu-item-hover-bg-color);
    color: var(--menu-item-hover-color);
    border: none;
}


div.list-group-divider {
  border: none;
  border-bottom: 1px solid;
  border-bottom-color: var(--group-description-border-bottom);
  background-color: var(--menu-item-bg-color);
}


.list-group-item {
  background-color: var(--menu-item-bg-color);
  border-radius: 0px;
  box-sizing: border-box;
  color: #007BFF;
  cursor: pointer;
  display: block;  
  font-size: 14px;
  position: relative;
  text-align: left;
  text-decoration-color: #007BFF ;
  text-decoration-line: none;
  text-decoration-skip: objects;
  text-decoration-style: solid;
  touch-action: manipulation;
  white-space: nowrap;
  min-width: 120px;
  padding: 8px 10px 8px 10px;
}

.list-group-item:first-child {
    border-radius: 0px;
}

.list-group-item:last-child {
    border-radius: 0px;
}

a.list-group-item {
	color: var(--menu-item-fg-color);
}

.list-group-item:hover {
  color: #FFF;
  text-decoration: none;
}

list-group-item-danger {
	background-color: #C84E00;
}

a.list-group-item-danger {
	color: #BA0000;
}

.list-group-item-danger:hover {
  color: #FFF;
  text-decoration: none;
}

.unselectable {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;  
  -o-user-select: none;
  -khtml-user-select: none;
}

.undraggable {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none; 
  -khtml-user-drag: none;
}


select:focus {
  outline: none;
  border-radius: 0px;
}


/* sweet */

.swal2-select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: var(--sweetalert-select-arrow);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 5px);
  background-position-y: calc(100% - 11px);
  background-size: 10px 10px;
  border: 1px solid var(--sweetalert-border);
  box-shadow: var(--sweetalert-box-shadow);
  width: auto;
  padding-right: 20px;
}


@-moz-document url-prefix() {
  .swal2-select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: var(--sweetalert-select-arrow);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: calc(100% - 14px);
    background-size: 10px 10px;
    border: 1px solid var(--sweetalert-border);
    box-shadow: var(--sweetalert-box-shadow);
    width: auto;
    padding-right: 20px;
  }
}


.swal2-select:hover {
  border: 1px solid var(--sweetalert-border-hover);  
}

.swal2-popup {
  font-size: 14px;
}

.swal2-label {
  float: left;
  margin-bottom: -15px;
  font-size: larger;
}

.swal2-input {
  border-radius: 0px;
}

.swal3-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  justify-content: space-around;
  padding-top: 15px;
}

.swal2-grid {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  justify-content: space-around;  
}


.swal2-grid-selector {
  display: grid;
  grid-template-columns: auto 70px;
  place-items: stretch;  
  margin-top: 10px;
}

.swal2-title {
    overflow: hidden;
}


.swal2-icon-button-wrapper {
  display: grid;
  place-items: center;
  justify-content: center;
}
.swal2-icon-button {
  width: 48px;
  height: 48px;
  background-color: var(--sweetalert-bg);
  padding: 5px;
  box-shadow: var(--sweetalert-box-shadow);
  outline: 1px solid var(--sweetalert-border);
}


.swal2-icon-button:hover {
  filter: brightness(105%);
}

.swal2-icon-button:active {
  margin-top: 5px;
}


.swal2-styled.swal2-confirm {
  font-size: 22px;
}

.swal2-styled.swal2-cancel {
  font-size: 22px;
}


.swal2-styled {
  padding: 6px 22px;
}

.swal2-button-ico {
  background-color: #147DFF;
  color: white;
  box-shadow: 0 6px 20px -10px #4a74c9;
  border: 1px solid white;
  display: inline-block;
  padding: 3px;
  margin-left: 6px;
}


div.swal-option {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
}

div.swal-content-label {  
  display: inline-block;
  font-size: 18px;
}


.text-spot {
  color: #c90000;
  font-weight: 600;
}





/* image selector */
.icon {
  background-color: var(--group-bg-color);
  width: 40px;
  height: 40px;
}

.icon:hover {
  background-color: var(--group-bg-color);
  outline: 1px solid #2A9AE2;  
}

.icon-img {
  width: 40px;
  height: 40px;
}


.bg {
  background-color: var(--group-bg-color);
  width: 80px;
  height: 50px;
}

.bg:hover {
  background-color: var(--group-bg-color);
  outline: 1px solid #2A9AE2;  
}

.bg-img {
  width: 80px;
  height: 50px;
}

.img-selected {    
  outline: 1px solid #2A9AE2;
}

.icon-select-grid-wrapper {
  display: grid;
  grid-template-rows: auto 40px;
  place-items: stretch;
  width: 0px;
  /*height: calc(100% - 10px);*/
  height: 100%;
  margin-left: 5px;
  padding: 5px;
  z-index: 1000;
  visibility: hidden;
  transition: width 500ms;
  background-color: var(--group-bg-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border: 2px dashed var(--group-fg-color);
  border-radius: 3px;
}

.icon-select-grid-icon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-gap: 5px 5px;
  padding: 2px;
  justify-items: baseline;
  place-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: auto;
}

.icon-select-grid-bg {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  grid-gap: 5px 5px;
  padding: 2px;
  justify-items: baseline;
  place-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: auto;
}


.upload-image-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.upload-image {
  width: 240px;
  height: 30px;
  cursor: pointer;
  background-color: #147DFF;
  color: white;
  box-shadow: 0 6px 10px -10px white; 
  border: 1px solid #cecece;
  display: grid;
  place-items: center;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
}

.upload-image:hover {
  filter: brightness(110%);
}

.upload-image:active {
  margin-top: 5px;
  cursor: pointer;
}


 input[type='file'] {
  display: none;  
}


.input-wrapper label {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: #147DFF;
  color: white;
  box-shadow: 0 6px 10px -10px white; 
  border: 1px solid #cecece;
  font-size: 20px;
  font-stretch:100%;
  font-weight:400;     
  cursor: pointer;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
}


.input-wrapper label:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.input-wrapper:active {
  margin-top: 5px;  
}


/* iziToast Messages  */

.iziToast {
  background-color: var(--izi-info-bg-color);
  color: var(--izi-info-fg-color);
  border: 1px solid var(--izi-info-border-color);
}



.iziToast.iziToast-theme-dark {  
  outline: #cecece solid 1px;
}


.iziToastFontOpacity {
  opacity: 1 !important;
}

.iziToast.iziToast-color-red {
  background: rgb(190, 76, 76);
  border-color: rgb(190, 76, 76);
}

.iziToast.iziToast-color-green {
  background: #206629;
  border-color: #206629;
}

.iziToast.iziToast-color-blue {
  background: #004c72;
  border-color: #004c72;
}

.iziToast.iziToast-layout5 {
  background: rgba(238,238,238,.9);
  min-height: 34px;
}

.iziItem {
  color: #01003f;
  font-weight: bold;
}
.iziGroup {
  color: rgb(184, 111, 3);
  font-weight: bold;
}

.iziPage {
  color: #01d483;
  font-weight: bold;
}


.iziToast-wrapper-topCenter {
  margin-top: 28px;
}

.iziToast>.iziToast-body .iziToast-buttons {
  float: right;
}

.iziToast>.iziToast-body .iziToast-buttons>button {  
  margin-left: 8px;
  border: 1px solid var(--izi-info-bg-color);
  border-radius: 2px;
}

.iziToast>.iziToast-body .iziToast-buttons>button:hover {
  transform: scale(1.1); 
  border: 1px solid var(--izi-info-fg-color);
}

.iziToast>.iziToast-body .iziToast-buttons>button:focus {
  border: 1px solid var(--izi-info-fg-color);
  border-radius: 2px;
}

.iziToast>.iziToast-body .iziToast-title {
  color: var(--izi-info-fg-color);
}

.iziToast>.iziToast-body .iziToast-icon {
  color: var(--izi-info-fg-color);
}

.iziToast-input-message {
  color: var(--izi-info-fg-color);
  margin-left: 5px;
  margin-right: 5px;
}

.iziToast-input-text {
  color: var(--izi-info-fg-color);
  background-color: var(--izi-info-bg-color);
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid var(--izi-info-fg-color);
}


.iziToast > .iziToast-body .iziToast-icon {
  color: var(--izi-info-fg-color);
}

.iziToast > .iziToast-body .iziToast-texts {
  margin: 12px 0 0 0;
}

.iziToast {
  border-radius: 0px;
}





/* spinner */


/* circle loading */

.spinner-wrapper {
  position: absolute;
  display: none;
  place-items: center;
  width: 300px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);  
  z-index: 1;
}

.spinner {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 6rem auto;
  box-sizing: border-box;
}

div[class^='curve_'] {
  position: absolute;
  transform: rotate(135deg);
  animation: spin 4s infinite;
  box-sizing: border-box;
}
.curve_top_left {
  width: 3rem;
  height: 3rem;
  border-top: 0.5rem solid #fff;
  border-left: 0.5rem solid #fff;
  border-top-left-radius: 200%;
  top: 0;
  left: 0;
  transform-origin: 100% 100%;
  box-sizing: border-box;
}
.curve_bottom_right {
  width: 3rem;
  height: 3rem;
  border-bottom: 0.5rem solid #fff;
  border-right: 0.5rem solid #fff;
  border-bottom-right-radius: 200%;
  bottom: 0;
  right: 0;
  transform-origin: 0% 0%;
  box-sizing: border-box;
}
.curve_top_right {
  width: 2rem;
  height: 2rem;
  border-top: 0.5rem solid #fff;
  border-right: 0.5rem solid #fff;
  border-top-right-radius: 200%;
  top: 1rem;
  right: 1rem;
  transform-origin: 0% 100%;
  box-sizing: border-box;
}
.curve_bottom_left {
  width: 2rem;
  height: 2rem;
  border-bottom: 0.5rem solid #fff;
  border-left: 0.5rem solid #fff;
  border-bottom-left-radius: 200%;
  bottom: 1rem;
  left: 1rem;
  transform-origin: 100% 0%;
  box-sizing: border-box;
}
.center_circle {
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.25rem;
  left: 2.25rem;
  animation: pulse 2s infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(135deg);
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    transform: rotate(675deg);
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    transform: rotate(135deg);
    opacity: 1;
  }
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}





.parent-elements-centered {
  display: grid;
  place-items: center;
}


.elements-centered {
  display: grid;
  width: 100%;
  place-items: center;
}

.fa {
  font-size: 12px;
}
.fa-2x {
  font-size: 24px;
}

.highlight-text {
  color:#ff0000;
  font-weight: bold;
}

[lang] {
  display: none;
}