:root {
  --body-background-color: #ffffff;
  --topnav-fg-color: #ffffff;
  --topnav-bg-color: #28406F;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: rgba(209, 209, 240, 0.4);   
  --topnav-icon: url("/icon/red-bookmark.svg");
  --topnav-active-link-fg-color: #ffffff;
  --topnav-active-link-bg-color: rgba(209, 209, 240, 0.4);
  --group-fg-color: #000000;
  --group-bg-color: #ffffff;
  --group-button-fg-color: #cecece;  
  --group-description-border-bottom: rgba(0, 0, 0, 0.2);  
  --group-box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --group-dots-buttons-color: #919191;
  --group-dots-buttons-color-hover: black;
  --item-hover: rgba(0,0,0, 0.05);
  --menu-header-fg-color: white; 
  --menu-header-bg-color: #4382ED;  
  --menu-item-bg-color: white;
  --menu-item-fg-color: #4382ED;  
  --menu-item-hover-bg-color: #4382ED;  
  --menu-item-hover-color: white;
  --menu-box-shadow: 0px 2px 3px 0.5px rgba(0,0,0,0.2), 0 0 1px 1px rgba(0,0,0,0.05);
  --settings-content-fg-color: black; 
  --settings-content-bg-color: white;    
  --settings-sidebar-fg-color: black; 
  --settings-sidebar-bg-color: #F6F6F9;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #4382ED;   
  --settings-bkp-bg-color: #93bff5;
  --izi-info-bg-color: #ECECEC;
  --izi-info-fg-color: black;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #6aaaf8;
  --collapse-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --collapse-page-bg-color: #147DFF;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #3891ff;
  --collapse-group-bg-color: white;
  --collapse-group-fg-color: black;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-bg-color: #6aaaf8;
  --sweetalert-bg: white;
  --sweetalert-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-black.svg");
  --highlight-text-color: red;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.1), 1px 1px 0 rgba(255, 0, 0, 0.1), 1px -1px 0 rgba(255, 0, 0, 0.1), -1px -1px 0 rgba(255, 0, 0, 0.1);
}

[data-theme="light"] {
  --body-background-color: #ffffff;
  --topnav-fg-color: #ffffff;
  --topnav-bg-color: #28406F;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: rgba(209, 209, 240, 0.4);   
  --topnav-icon: url("/icon/red-bookmark.svg");
  --topnav-active-link-fg-color: #ffffff;
  --topnav-active-link-bg-color: rgba(209, 209, 240, 0.4);
  --group-fg-color: #000000;
  --group-bg-color: #ffffff;
  --group-button-fg-color: #cecece;
  --group-description-border-bottom: rgba(0, 0, 0, 0.2);    
  --group-box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --group-dots-buttons-color: #919191;
  --group-dots-buttons-color-hover: black;
  --group-description-border-bottom: rgba(255, 255, 255, 0.2);
  --item-hover: rgba(0,0,0, 0.05);
  --menu-header-fg-color: white; 
  --menu-header-bg-color: #4382ED; 
  --menu-item-bg-color: white;
  --menu-item-fg-color: #4382ED;
  --menu-item-hover-bg-color: #4382ED;  
  --menu-item-hover-color: white;
  --menu-box-shadow: 0px 2px 3px 0.5px rgba(0,0,0,0.2), 0 0 1px 1px rgba(0,0,0,0.05);
  --settings-logo-text-fg-color: white; 
  --settings-content-fg-color: black; 
  --settings-content-bg-color: white;     
  --settings-sidebar-fg-color: white; 
  --settings-sidebar-bg-color: #23272B;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #147DFF;
  --settings-bkp-bg-color: #93bff5;
  --izi-info-bg-color: #ECECEC;
  --izi-info-fg-color: black;
  --izi-info-border-color: black;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #6aaaf8;
  --popup-fg-color: black;
  --collapse-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --collapse-page-bg-color: #147DFF;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #3f92f7;
  --collapse-group-bg-color: white;
  --collapse-group-fg-color: black;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-bg-color: #6aaaf8;  
  --sweetalert-bg: white;
  --sweetalert-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-black.svg");
  --highlight-text-color: red;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.1), 1px 1px 0 rgba(255, 0, 0, 0.1), 1px -1px 0 rgba(255, 0, 0, 0.1), -1px -1px 0 rgba(255, 0, 0, 0.1);
}

[data-theme="dark"] {
  --body-background-color: #0E161D;
  --topnav-fg-color: #ffffff;
  --topnav-bg-color: #192935;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: rgba(209, 209, 240, 0.4);   
  --topnav-icon: url("/icon/blue-bookmark.svg");
  --topnav-active-link-fg-color: #ffffff;
  --topnav-active-link-bg-color: rgb(16, 98, 153);
  --group-fg-color: #ffffff;
  --group-bg-color: #192935;
  --group-button-fg-color: #cecece;
  --group-description-border-bottom: rgba(255, 255, 255, 0.2);
  --group-box-shadow: 0 2px 2px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --group-dots-buttons-color: #cecece;
  --group-dots-buttons-color-hover: white;
  --item-hover: rgba(255,255,255, 0.1);
  --menu-header-fg-color: white; 
  --menu-header-bg-color: #053079; 
  --menu-item-bg-header: #053079; 
  --menu-item-fg-header: white; 
  --menu-item-bg-color: #0E161D;
  --menu-item-fg-color: white; 
  --menu-item-hover-bg-color: #06243a;  
  --menu-item-hover-color: white;
  --menu-box-shadow: 0px 0px 2px 0.5px rgba(255,255,255,0.2), 0 0 1px 1px rgba(255,255,255,0.05);
  --settings-logo-text-fg-color: white; 
  --settings-content-fg-color: white; 
  --settings-content-bg-color: #0E161D;   
  --settings-sidebar-fg-color: white; 
  --settings-sidebar-bg-color: #23272B;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #147DFF;
  --settings-bkp-bg-color: #192935;
  --izi-info-bg-color: #192935;
  --izi-info-fg-color: white;  
  --izi-info-border-color: white;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #06243a;
  --popup-fg-color: white;
  --collapse-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --collapse-page-bg-color: #0E161D;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #06243a;  
  --collapse-group-bg-color: #454546;
  --collapse-group-fg-color: white;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-color: #727272;  
  --sweetalert-bg: #192935;
  --sweetalert-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-white.svg");
  --highlight-text-color: #FFE100;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.2), 1px 1px 0 rgba(255, 0, 0, 0.2), 1px -1px 0 rgba(255, 0, 0, 0.2), -1px -1px 0 rgba(255, 0, 0, 0.2);
}

[data-theme="darker"] {
  --body-background-color: #ffffff;
  --topnav-fg-color: #ffffff;
  --topnav-bg-color: #192935;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: rgba(209, 209, 240, 0.4);   
  --topnav-icon: url("/icon/blue-bookmark.svg");
  --topnav-active-link-fg-color: #000000;
  --topnav-active-link-bg-color: rgba(209, 209, 240, 0.4); 
  --group-fg-color: #ffffff;
  --group-bg-color: #192935;
  --group-button-fg-color: #cecece;
  --group-description-border-bottom: rgba(255, 255, 255, 0.2);
  --group-box-shadow: 0 2px 2px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --group-dots-buttons-color: #cecece;
  --group-dots-buttons-color-hover: white;
  --item-hover: rgba(255,255,255, 0.1); 
  --menu-header-fg-color: white; 
  --menu-header-bg-color: #053079; 
  --menu-item-bg-header: #053079; 
  --menu-item-fg-header: white; 
  --menu-item-bg-color: #0E161D;
  --menu-item-fg-color: white; 
  --menu-item-hover-bg-color: #06243a;  
  --menu-item-hover-color: white;
  --menu-box-shadow: 0px 0px 2px 0.5px rgba(255,255,255,0.2), 0 0 1px 1px rgba(255,255,255,0.05);
  --settings-logo-text-fg-color: white; 
  --settings-content-fg-color: #000000; 
  --settings-content-bg-color: #e7e5e5;  
  --settings-sidebar-fg-color: white; 
  --settings-sidebar-bg-color: #23272B;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #147DFF;
  --settings-bkp-bg-color: #93bff5;
  --izi-info-bg-color: #192935;
  --izi-info-fg-color: white;  
  --izi-info-border-color: white;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #06243a;
  --popup-fg-color: black;
  --collapse-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --collapse-page-bg-color: #0E161D;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #06243a;  
  --collapse-group-bg-color: #454546;
  --collapse-group-fg-color: white;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-color: #727272;  
  --sweetalert-bg: #192935;
  --sweetalert-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-white.svg");
  --highlight-text-color: red;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.1), 1px 1px 0 rgba(255, 0, 0, 0.1), 1px -1px 0 rgba(255, 0, 0, 0.1), -1px -1px 0 rgba(255, 0, 0, 0.1);
}


[data-theme="black"] {
  --body-background-color: #454646;
  --topnav-fg-color: #ffffff;
  --topnav-bg-color: #161C23;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: rgba(209, 209, 240, 0.4);   
  --topnav-icon: url("/icon/blue-bookmark.svg");
  --topnav-active-link-fg-color: #ffffff;
  --topnav-active-link-bg-color: rgb(16, 98, 153);
  --group-fg-color: #ffffff;
  --group-bg-color: #1c2125;
  --group-button-fg-color: #cecece;
  --group-description-border-bottom: rgba(255, 255, 255, 0.2);
  --group-box-shadow: 0 2px 2px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --group-dots-buttons-color: #cecece;
  --group-dots-buttons-color-hover: white;
  --item-hover: rgba(255,255,255, 0.1);
  --menu-header-fg-color: white; 
  --menu-header-bg-color: #053079; 
  --menu-item-bg-color: #454646;
  --menu-item-fg-color: white; 
  --menu-item-hover-bg-color: #4382ED;  
  --menu-item-hover-color: white;  
  --menu-box-shadow: 0px 0px 2px 0.5px rgba(255,255,255,0.2), 0 0 1px 1px rgba(255,255,255,0.05);
  --settings-logo-text-fg-color: white; 
  --settings-content-fg-color: white;
  --settings-content-bg-color: #0E161D;
  --settings-sidebar-fg-color: white; 
  --settings-sidebar-bg-color: #23272B;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #147DFF;
  --settings-bkp-bg-color: #192935;
  --izi-info-bg-color: #192935;
  --izi-info-fg-color: white;  
  --izi-info-border-color: white;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #06243a;
  --popup-fg-color: white;
  --collapse-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --collapse-page-bg-color: #0E161D;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #06243a;  
  --collapse-group-bg-color: #454646;
  --collapse-group-fg-color: white;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-color: #727272;  
  --sweetalert-bg: #192935;
  --sweetalert-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-white.svg");
  --highlight-text-color: #FFE100;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.2), 1px 1px 0 rgba(255, 0, 0, 0.2), 1px -1px 0 rgba(255, 0, 0, 0.2), -1px -1px 0 rgba(255, 0, 0, 0.2);
}

[data-theme="cobalt"] {
  --body-background-color: #15232D;
  --topnav-fg-color: #ffffff;
  --topnav-bg-color: #193549;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: rgba(209, 209, 240, 0.4);   
  --topnav-icon: url("/icon/blue-bookmark.svg");
  --topnav-active-link-fg-color: #ffffff;
  --topnav-active-link-bg-color: #0c1922;
  --group-fg-color: #ffffff;
  --group-bg-color: #193549;
  --group-button-fg-color: #cecece;
  --group-description-border-bottom: rgba(255, 255, 255, 0.2);
  --group-box-shadow: 0 2px 2px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --group-dots-buttons-color: #cecece;  
  --group-dots-buttons-color-hover: #006dbb;
  --item-hover: rgba(255,255,255, 0.1);   
  --menu-header-fg-color: #E5E5E5;
  --menu-header-bg-color: #032136;   
  --menu-item-bg-color: #193549;
  --menu-item-fg-color: white; 
  --menu-item-hover-bg-color: #204864;  
  --menu-item-hover-color: white;
  --menu-box-shadow: 0px 0px 2px 0.5px rgba(255,255,255,0.2), 0 0 1px 1px rgba(255,255,255,0.05);
  --settings-logo-text-fg-color: white; 
  --settings-content-fg-color: #000000; 
  --settings-content-bg-color: #e7e5e5;  
  --settings-sidebar-fg-color: white; 
  --settings-sidebar-bg-color: #23272B;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #147DFF;
  --settings-bkp-bg-color: #192935;
  --izi-info-bg-color: #192935;
  --izi-info-fg-color: white; 
  --izi-info-border-color: white;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #295779;
  --popup-fg-color: white; 
  --collapse-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --collapse-page-bg-color: #193549;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #295779;  
  --collapse-group-bg-color: #262631;
  --collapse-group-fg-color: white;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-color: #3b3b4d;  
  --sweetalert-bg: #192935;
  --sweetalert-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-white.svg");
  --highlight-text-color: #FFE100;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.2), 1px 1px 0 rgba(255, 0, 0, 0.2), 1px -1px 0 rgba(255, 0, 0, 0.2), -1px -1px 0 rgba(255, 0, 0, 0.2);
}


[data-theme="colorful"] {
  --body-background-color: #a17fe0;
  --topnav-fg-color: #000000;
  --topnav-bg-color: #ffc107;
  --topnav-fg-color-hover: #ffffff;
  --topnav-bg-color-hover: #fd7d1488;
  --topnav-icon: url("/icon/lollipop.svg");
  --topnav-active-link-fg-color: #ffffff;
  --topnav-active-link-bg-color: #fd7e14;
  --group-fg-color: #ffffff;
  --group-bg-color: #005ec2;
  --group-button-fg-color: #330a80;
  --group-description-border-bottom: rgba(255, 255, 255, 0.2);  
  --group-box-shadow: 0 2px 2px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --group-dots-buttons-color: #ffc107;
  --group-dots-buttons-color-hover: #fd7e14;
  --item-hover: #24cce671;
  --menu-header-fg-color: white; 
  --menu-header-bg-color: #04240c; 
  --menu-item-bg-color: #244b2d;
  --menu-item-fg-color: white; 
  --menu-item-hover-bg-color: #448d77;  
  --menu-item-hover-color: white;
  --menu-box-shadow: 0px 0px 2px 0.5px rgba(255,255,255,0.2), 0 0 1px 1px rgba(255,255,255,0.05);
  --settings-logo-text-fg-color: white; 
  --settings-content-fg-color: white; 
  --settings-content-bg-color: #A17FE0;   
  --settings-sidebar-fg-color: white; 
  --settings-sidebar-bg-color: #23272B;  
  --settings-sidebar-fg-color-hover: white; 
  --settings-sidebar-bg-color-hover: #147DFF;
  --settings-bkp-bg-color: #c4aaf3;
  --izi-info-bg-color: #192935;
  --izi-info-fg-color: white; 
  --izi-info-border-color: white;
  --popup-header-fg-color: white;
  --popup-header-bg-color: #295779; 
  --popup-fg-color: black; 
  --collapse-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --collapse-page-bg-color: #0E161D;
  --collapse-page-fg-color: white;
  --collapse-page-hover-color: #06243a;  
  --collapse-group-bg-color: #454546;
  --collapse-group-fg-color: white;
  --collapse-group-hover-fg-color: white;
  --collapse-group-hover-color: #727272;  
  --sweetalert-bg: #192935;
  --sweetalert-box-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
  --sweetalert-border: #DEE2E6;
  --sweetalert-border-hover: #AFD5E7;
  --sweetalert-select-arrow: url("../img/drop-arrow-white.svg");
  --highlight-text-color: red;
  --highlight-text-shadow: -1px 1px 0 rgba(255, 0, 0, 0.1), 1px 1px 0 rgba(255, 0, 0, 0.1), 1px -1px 0 rgba(255, 0, 0, 0.1), -1px -1px 0 rgba(255, 0, 0, 0.1);
}